<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-7 col-centered">
      <h2 class="title">
        <br>
        fine job</h2>
      <p class="slogan">fine job是一个提供全栈营工作机会的求职网站。
        <br>

        我们希望在这里找到能带小白走出迷雾的学长学姐。
        <br>
        一起成长！
      </p>
      <!-- <p class="lead">
        <%= link_to '戳我！', jobs_path, class: 'btn btn-primary' %>
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> go ahead
        </button>
      </p> -->

      <p class="lead">
        <%= link_to jobs_path do %>
        <button type="button" class="btn btn-success btn-lg">
          戳我应征！
        </button>
        <% end %>
      </p>

    </div>
  </div>
</div>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <!-- <h3 class="section-heading">申请并等待审核</h3> -->
        <h3 class="section-heading">教，才是最好的学！</h3>
        <p class="lead">笑来、Xdite、Nic的口头禅，有魔力的一句话，你差一个实践它的机会！</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'p1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h3 class="section-heading">术业有专攻</h3>
        <p class="lead">debug、配色、排版、文案...你的专攻在这里都有用武之地。</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'p2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h3 class="section-heading">为自我增值</h3>
        <p class="lead">在中国最好、最贵的收费社群谋职，是你最拿得出手的履历。</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'p3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h3 class="section-heading">帮助别人是幸福的来源</h3>
        <p class="lead">看到小白还在泥潭苦苦挣扎，作为过来人，你不拉一把吗？</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'p5.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="container-companies">
    <div class="hr-title">
      <span>我们合作的优质企业</span>
    </div>
    <div class="companies">
    </div>
</div>
